body {
    padding: 0;
    margin: 0;
}
.header-logo {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
}

.links {
    display: flex;
    align-items: center ;
    gap: 24px;
}

a, .text p {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.main {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
    padding: 100px 0px;
    padding-bottom: 180px;
}

.text {
    width: 400px;
}

.text h1 {  
    font-size: 48px ;
    font-weight: 900;
    color: #f9faf8;
}

.image {
    display: flex;
    flex: 0 0 auto;
}

img {
    width: 600px;
    height: 300px;
}

.button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 28px;
    border-radius: 10px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    height: 450px;
    gap: 48px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 0;
    padding-top: 50px;
}

.small-image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    align-items: center;    
    
}

.small-image img{
    width: 200px;
    height: 170px;
    border: 4px solid #3882f6;
    border-radius: 16px;
    padding: 1px;
}

.small-image p {
    width: 170px;
}

.small-container {
    display: flex;
    padding-top: 50px;
    gap: 48px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 542px;
}

.quote {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    padding: 16px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    opacity: 80%;
    margin: 0;
}

.reference {
    display: flex;
    font-size: 26px;
    font-weight: 700;
    margin-top: -20px;
    margin-left: 450px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: auto;
}

.sign-up-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1100px;
    height: 200px;
    background-color: #3882f6;
    border-radius: 16px;
}

.sign-up .call{
    color: white;
    font-weight: 800;
    font-size: 26px;
}

.sign-up p {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    font-size: 18px;
    line-height: 28px;
    color: #E5E7EB;
}

.sign-up-container .button {
    border-color: white;
    border-width: 3px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1f2937;
    font-size: 20px;
    color: white;
}